/* 通用 */

#f {background-image:url(img_f.gif); background-repeat: no-repeat;/**/ }
#search_bar_in a:hover { background-image:url(img_f.gif); background-repeat: no-repeat; background-position:-679px 0; }
#search_bar_in a#searchNavIs span { background-image:url(img_f.gif); background-repeat: no-repeat; background-position:-623px 0; }


#su2 { background:#FF9900 url(img_f.gif) -698px -92px no-repeat; }

#new_top td.mode a { background:url(home.gif) -60px 50% no-repeat; }
#new_top td.mode_is a { background:url(home.gif) 0 50% no-repeat; }
/* 增强 */
html { background:#F7E900 url(body.jpg) 50% 0 repeat-x; }
/* 顶眉透明 */
#new_top td { background:none; border-bottom:1px #FFCC00 dotted; /* filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5;*/ }
#new_top td.mode { border-right:1px #FFCC00 dotted; }
#new_top td.mode_is { border-bottom:none; border-left:1px #FFCC00 dotted; border-right:1px #FFCC00 dotted; }
#weather_datetime td { border:none; }
#weather a { color:#FDEFCE; }
#weather_city { font-weight:bold; }
.w_kq_yzwr { color:#F497F4; font-weight:lighter; }
.w_kq_zdwr { color:#F497F4; font-weight:lighter; }
.w_kq_qdwr { color:#FEC99C; font-weight:lighter; }
.w_kq_you { color:#02FE56; font-weight:lighter; }
.w_kq_liang { color:#AAD3FD; font-weight:lighter; }
.w_qingkuang { color:#FFFFFF; font-weight:bold; }
.w_wendu_ls { color:#FFDE01; }
.w_wendu_lx { color:#AAD3FD; }
.w_xiangqing { color:#FFCC00; }
#date_time a { color:#FEC99C; }
.YMD { color:#FFF; }
.w_dt_line { border-left-color:#FFCC00; }
.WS { color:#FFDE01; }
.FES { color:#FFDE01; }

#mylog { color:#FFCC00; border-right-color:#FFCC00; }
#mylog a { color:#FDEFCE; }
#mylog b { color:#FFFFFF; }
#new_sc { color:#FF9900; }
#new_sc a { color:#FDEFCE; }

#new_top td.mode_is a { color:#FFFFFF; }

#top_title_index { width:1000px; }
#top_title { width:1000px; border:none; }
#top_title a { color:#E1AA25; }
#top_title a#top_title_is { margin-left:0; margin-top:0; color:#FF9A38; background-color:#FEE6CE; border:none; height:34px; line-height:34px; }
#top_title_index #top_title a#top_title_is { width:121px; }

#new_top td.new_top_class { color:#FF9900; }
#new_top td.new_top_class a { color:#FDEFCE; }

#search_hot_word a { color:#FFFFFF !important; }
#search_hot_word a.s_c { color:#FFFFFF !important; border:1px #FFFFFF solid; }
#search_bar_in a { color:#C61903 !important; }
#search_bar_in a span { text-decoration:none; color:#FFFFCC !important; }
#search_bar_in a:hover {}
#search_bar_in a:hover span { color:#FFFFFF !important; }


#search_bar_in a#searchNavIs span { color:#FFFFFF !important; }
.forQQ3 #search_bar_in a#searchNavIs { }
.forQQ3 #search_bar_in a#searchNavIs span { }
.forQQ3 #search_bar_in a:hover { }
.forQQ3 #search_bar_in a:hover span { color:#FFFFFF !important; }


#ou_in button { color:#FFFFCC !important; }
#ou_in button#ou_in_is { color:#FF6600 !important; }

.mingz { border:1px #FF6600 solid; }







