/* 通用 */

#f {background-image:url(img_f.gif); background-repeat: no-repeat;/**/ }
#search_bar_in a:hover { background-image:url(img_f.gif); background-repeat: no-repeat; background-position:-679px 0; }
#search_bar_in a#searchNavIs span { background-image:url(img_f.gif); background-repeat: no-repeat; background-position:-623px 0; }


#su2 { background:#FF9900 url(img_f.gif) -698px -92px no-repeat; }

#new_top td.mode a { background:url(home.gif) -60px 50% no-repeat; }
#new_top td.mode_is a { background:url(home.gif) 0 50% no-repeat; }
/* 增强 */
html { background:#C9EBF4 url(body.jpg) 50% 0 repeat-x; }
/* 顶眉透明 */
#new_top { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity:0.9; opacity:0.9; }
#new_top:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1; }
#new_top td.mode_is a { color:#2E90C3; }

#top_title_index { width:1000px; }
#top_title { width:1000px; border:none; }
#top_title a#top_title_is { margin-left:0; margin-top:0; color:#2E90C3; background-color:#E6EFF2; border:none; height:34px; line-height:34px; }
#top_title a#top_title_is { width:121px; }

#search_hot_word a { }
#search_hot_word a.s_c { color:#FFFFFF; }
#search_bar_in a { }
#search_bar_in a span { }
#search_bar_in a#searchNavIs span { }
#ou_in button { }
#ou_in button#ou_in_is { }

.mingz { border:1px #2E90C3 solid; }







